body {
color: blue;
}
h1 {
color: brown;
}
#titulo {
    color: rgb(89, 139, 7);
}
p.texto {/*al colocar la p antes de la clase .texto lo que hace es buscar un elemento de clase texto dentro de una etiqueta p y asignarle las propiedades*/
    color: blueviolet;
}
p.especial{
    color: rgb(197, 123, 13);
}
/*esto quiere decir que dentro de todos los div que contengan un p se van a ejecutar las propiedades */
div p {
    color: crimson;
}
div h3{/*cualquier h3 que esté dentro de un div*/
    color: rgb(30, 133, 17);
}
/*con la , se indica que cualquier h3 dentro de un div y tambien cualquier h4 dentro de un div tengan estas propiedades*/
div h3, div h4 {
    color: black;
}
* {/*con * se indica que seleccione todos los elementos de html y le aplique las siguientes propiedades*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}
/* el * además aplica las propiedades solo si los elementos no han sido definido por otros selectores, no importa si este selector se coloque al final, solo se va a aplicar las propiedades si el elemento no ha sido definido anteriormente*/
/*por eso aplica la propiedad font a todos los elementos, pero no la propiedad color que ya ha sido definido anteriormente*/